In [1]:
import pandas as pd
import numpy as np

In [24]:
ListStock =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\ListStock.csv')
ListStock

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,VND,HOSE,2382.923585,692.77,880.00,271.0,7683.0,10.0
1,DGC,HOSE,2388.150971,906.67,1100.00,217.0,14628.0,12.1
2,HPG,HOSE,34478.143197,13450.30,18000.00,192.0,8636.0,5.8
3,VCS,HNX,1772.059864,1428.42,1439.25,123.0,11262.0,9.4
4,HDG,HOSE,1090.016437,979.14,1254.00,87.0,6836.0,10.6
5,VCB,HOSE,21908.052000,18451.31,37500.00,58.0,5907.0,14.4
6,REE,HOSE,1854.653140,1628.08,1768.90,105.0,6001.0,12.5
7,VHM,HOSE,39016.681000,27351.28,35000.00,111.0,10845.0,7.2
8,DBC,HOSE,829.557934,1400.30,827.00,100.0,7503.0,10.4
9,VHC,HOSE,1101.225562,719.31,700.00,157.0,6052.0,13.3
10,TCB,HOSE,18037.685000,12324.99,29700.00,61.0,5144.0,9.7
11,DPM,HOSE,3116.702431,691.31,365.00,854.0,7964.0,7.6
12,VCI,HOSE,1498.718375,768.91,937.50,160.0,5860.0,10.8
13,SHS,HNX,1396.285501,754.31,563.40,248.0,6100.0,7.3

<br>

### **<p style="background-color:white;font-family:tahoma;color:navy;font-size:120%;text-align:left">Theo PE v√† EPS</p>**

<a id = "3"></a>
# <p style="background-color:navy;font-family:Tahoma;color:ivory;font-size:150%;text-align:center;border-radius:10px 0px;">Cluster 0</p>

In [25]:
PE_cluster_0 =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\PE\cluster_0.csv')
PE_cluster_0

   MaCoPhieu    PE      EPS
0         13  10.0   7683.0
1         10   9.4  11262.0
2          6   7.3   6100.0

In [26]:
ListStock_0 = pd.merge(ListStock, PE_cluster_0, 
                   on=['PE', 'EPS'], 
                   how='inner')
ListStock_0

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y
0,VND,HOSE,2382.923585,692.77,880.00,271.0,7683.0,10.0,13
1,VCS,HNX,1772.059864,1428.42,1439.25,123.0,11262.0,9.4,10
2,SHS,HNX,1396.285501,754.31,563.40,248.0,6100.0,7.3,6

In [27]:
 ListStock_0 =  ListStock_0.drop(columns=['MaCoPhieu_y'])
 ListStock_0

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,VND,HOSE,2382.923585,692.77,880.00,271.0,7683.0,10.0
1,VCS,HNX,1772.059864,1428.42,1439.25,123.0,11262.0,9.4
2,SHS,HNX,1396.285501,754.31,563.40,248.0,6100.0,7.3

In [28]:
ListStock_0.rename(columns = {'MaCoPhieu_x':'MaCoPhieu'}, inplace = True)

In [29]:
ListStock_0

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,VND,HOSE,2382.923585,692.77,880.00,271.0,7683.0,10.0
1,VCS,HNX,1772.059864,1428.42,1439.25,123.0,11262.0,9.4
2,SHS,HNX,1396.285501,754.31,563.40,248.0,6100.0,7.3

In [57]:
ListStock_0.mean()

<ipython-input-57-b693dde32443>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ListStock_0.mean()

LoiNhuanRong_2021    1850.422983
LoiNhuanRong_2020     958.500000
KeHoach               960.883333
PhanTram_KeHoach      214.000000
EPS                  8348.333333
PE                      8.900000
dtype: float64

<a id = "3"></a>
# <p style="background-color:navy;font-family:Tahoma;color:ivory;font-size:150%;text-align:center;border-radius:10px 0px;">Cluster 1</p>

In [30]:
PE_cluster_1 =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\PE\cluster_1.csv')
PE_cluster_1

   MaCoPhieu    PE     EPS
0          3  10.6  6836.0
1          5  12.5  6001.0
2          0  10.4  7503.0
3         11  13.3  6052.0
4          9  10.8  5860.0

In [31]:
ListStock_1 = pd.merge(ListStock, PE_cluster_1, 
                   on=['PE', 'EPS'], 
                   how='inner')
ListStock_1

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y
0,HDG,HOSE,1090.016437,979.14,1254.0,87.0,6836.0,10.6,3
1,REE,HOSE,1854.653140,1628.08,1768.9,105.0,6001.0,12.5,5
2,DBC,HOSE,829.557934,1400.30,827.0,100.0,7503.0,10.4,0
3,VHC,HOSE,1101.225562,719.31,700.0,157.0,6052.0,13.3,11
4,VCI,HOSE,1498.718375,768.91,937.5,160.0,5860.0,10.8,9

In [32]:
 ListStock_1 =  ListStock_1.drop(columns=['MaCoPhieu_y'])
 ListStock_1

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,HDG,HOSE,1090.016437,979.14,1254.0,87.0,6836.0,10.6
1,REE,HOSE,1854.653140,1628.08,1768.9,105.0,6001.0,12.5
2,DBC,HOSE,829.557934,1400.30,827.0,100.0,7503.0,10.4
3,VHC,HOSE,1101.225562,719.31,700.0,157.0,6052.0,13.3
4,VCI,HOSE,1498.718375,768.91,937.5,160.0,5860.0,10.8

In [33]:
ListStock_1.rename(columns = {'MaCoPhieu_x':'MaCoPhieu'}, inplace = True)
ListStock_1

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,HDG,HOSE,1090.016437,979.14,1254.0,87.0,6836.0,10.6
1,REE,HOSE,1854.653140,1628.08,1768.9,105.0,6001.0,12.5
2,DBC,HOSE,829.557934,1400.30,827.0,100.0,7503.0,10.4
3,VHC,HOSE,1101.225562,719.31,700.0,157.0,6052.0,13.3
4,VCI,HOSE,1498.718375,768.91,937.5,160.0,5860.0,10.8

In [58]:
ListStock_1.mean()

<ipython-input-58-f7d981899902>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ListStock_1.mean()

LoiNhuanRong_2021    1274.83429
LoiNhuanRong_2020    1099.14800
KeHoach              1097.48000
PhanTram_KeHoach      121.80000
EPS                  6450.40000
PE                     11.52000
dtype: float64

<a id = "3"></a>
# <p style="background-color:navy;font-family:Tahoma;color:ivory;font-size:150%;text-align:center;border-radius:10px 0px;">Cluster 2</p>

In [34]:
PE_cluster_2 =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\PE\cluster_2.csv')
PE_cluster_2

   MaCoPhieu   PE      EPS
0          4  5.8   8636.0
1         12  7.2  10845.0

In [35]:
ListStock_2 = pd.merge(ListStock, PE_cluster_2, 
                   on=['PE', 'EPS'], 
                   how='inner')
ListStock_2

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y
0,HPG,HOSE,34478.143197,13450.30,18000.0,192.0,8636.0,5.8,4
1,VHM,HOSE,39016.681000,27351.28,35000.0,111.0,10845.0,7.2,12

In [36]:
ListStock_2.rename(columns = {'MaCoPhieu_x':'MaCoPhieu'}, inplace = True)
ListStock_2

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y
0,HPG,HOSE,34478.143197,13450.30,18000.0,192.0,8636.0,5.8,4
1,VHM,HOSE,39016.681000,27351.28,35000.0,111.0,10845.0,7.2,12

In [37]:
 ListStock_2 =  ListStock_2.drop(columns=['MaCoPhieu_y'])
 ListStock_2

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,HPG,HOSE,34478.143197,13450.30,18000.0,192.0,8636.0,5.8
1,VHM,HOSE,39016.681000,27351.28,35000.0,111.0,10845.0,7.2

In [56]:
ListStock_2.mean()

<ipython-input-56-a76bd7c35619>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ListStock_2.mean()

LoiNhuanRong_2021    36747.412098
LoiNhuanRong_2020    20400.790000
KeHoach              26500.000000
PhanTram_KeHoach       151.500000
EPS                   9740.500000
PE                       6.500000
dtype: float64

<a id = "3"></a>
# <p style="background-color:navy;font-family:Tahoma;color:ivory;font-size:150%;text-align:center;border-radius:10px 0px;">Cluster 3</p>

In [42]:
PE_cluster_3 =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\PE\cluster_3.csv')
PE_cluster_3

   MaCoPhieu    PE        EPS
0          1  12.1  12149.375
1          2   7.6   7964.000

In [44]:
ListStock_3 = pd.merge(ListStock, PE_cluster_3, 
                   on=['PE'], 
                   how='inner')
ListStock_3

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS_x,PE,MaCoPhieu_y,EPS_y
0,DGC,HOSE,2388.150971,906.67,1100.0,217.0,14628.0,12.1,1,12149.375
1,DPM,HOSE,3116.702431,691.31,365.0,854.0,7964.0,7.6,2,7964.000

In [46]:
ListStock_3.rename(columns = {'MaCoPhieu_x':'MaCoPhieu', 'EPS_x':'EPS'}, inplace = True)
ListStock_3

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y,EPS_y
0,DGC,HOSE,2388.150971,906.67,1100.0,217.0,14628.0,12.1,1,12149.375
1,DPM,HOSE,3116.702431,691.31,365.0,854.0,7964.0,7.6,2,7964.000

In [47]:
 ListStock_3 =  ListStock_3.drop(columns=['MaCoPhieu_y', 'EPS_y'])
 ListStock_3

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,DGC,HOSE,2388.150971,906.67,1100.0,217.0,14628.0,12.1
1,DPM,HOSE,3116.702431,691.31,365.0,854.0,7964.0,7.6

In [55]:
 ListStock_3.mean()

<ipython-input-55-5d21ab8737ee>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ListStock_3.mean()

LoiNhuanRong_2021     2752.426701
LoiNhuanRong_2020      798.990000
KeHoach                732.500000
PhanTram_KeHoach       535.500000
EPS                  11296.000000
PE                       9.850000
dtype: float64

**Cluster 4**

In [48]:
PE_cluster_4 =  pd.read_csv(r'C:\Users\Admin\Desktop\K_Means\PE\cluster_4.csv')
PE_cluster_4

   MaCoPhieu    PE     EPS
0          8  14.4  5907.0
1          7   9.7  5144.0

In [49]:
ListStock_4 = pd.merge(ListStock, PE_cluster_4, 
                   on=['PE'], 
                   how='inner')
ListStock_4

,MaCoPhieu_x,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS_x,PE,MaCoPhieu_y,EPS_y
0,VCB,HOSE,21908.052,18451.31,37500.0,58.0,5907.0,14.4,8,5907.0
1,TCB,HOSE,18037.685,12324.99,29700.0,61.0,5144.0,9.7,7,5144.0

In [51]:
ListStock_4.rename(columns = {'MaCoPhieu_x':'MaCoPhieu', 'EPS_x':'EPS'}, inplace = True)
ListStock_4

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE,MaCoPhieu_y,EPS_y
0,VCB,HOSE,21908.052,18451.31,37500.0,58.0,5907.0,14.4,8,5907.0
1,TCB,HOSE,18037.685,12324.99,29700.0,61.0,5144.0,9.7,7,5144.0

In [52]:
 ListStock_4 =  ListStock_4.drop(columns=['MaCoPhieu_y', 'EPS_y'])
 ListStock_4

,MaCoPhieu,SanChungKhoan,LoiNhuanRong_2021,LoiNhuanRong_2020,KeHoach,PhanTram_KeHoach,EPS,PE
0,VCB,HOSE,21908.052,18451.31,37500.0,58.0,5907.0,14.4
1,TCB,HOSE,18037.685,12324.99,29700.0,61.0,5144.0,9.7

In [54]:
 ListStock_4.mean()

<ipython-input-54-6390f266e983>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ListStock_4.mean()

LoiNhuanRong_2021    19972.8685
LoiNhuanRong_2020    15388.1500
KeHoach              33600.0000
PhanTram_KeHoach        59.5000
EPS                   5525.5000
PE                      12.0500
dtype: float64